.container
  .side
    %ul
      %li
        = link_to "HOME", root_path, class: "link"
      %li
        = link_to "マイページ", "/users/#{current_user.id}", class: "link"
      %li
  .main
    .info
      .left-info
        .main-box#best
          .main-box__content
            = @my_ranks[0].image
            = simple_format(@my_ranks[0].content)
          .main-box__bar
            = "いいね: #{@my_ranks[0].liked_users.count}"
            = link_to "詳細", "/posts/#{@my_ranks[0].id}"
            = link_to "削除", "/posts/#{@my_ranks[0].id}", method: :delete
          .main-box__user
      .right-info
        = render partial: "relationships/follow_button", locals: {user: @user}   
    .content
      .content__best
        - @my_ranks.each do |post|
          .main-box
            .main-box__content
              = post.image
              = simple_format(post.content)
            .main-box__bar
              = "いいね: #{post.liked_users.count}"
              = link_to "詳細", "/posts/#{post.id}"
              = link_to "削除", "/posts/#{post.id}", method: :delete
            .main-box__user
      .content__new
        - @posts.each do |post|
          .main-box
            .main-box__content
              = post.image
              = simple_format(post.content)
            .main-box__bar
              = "いいね: #{post.liked_users.count}"
              = link_to "詳細", "/posts/#{post.id}"
              = link_to "削除", "/posts/#{post.id}", method: :delete

      .content__new
        - @user_ranks.each do |post|
          .main-box
            .main-box__content
              = post.image
              = simple_format(post.content)
            .main-box__bar
              = "いいね: #{post.liked_users.count}"
              = link_to "詳細", "/posts/#{post.id}"
              = link_to "削除", "/posts/#{post.id}", method: :delete
      
      
      


        
