.side.col-2
  .side-box
    .side-box__image
      %i.fas.fa-home.fa-lg
    .side-box__name
      = link_to "HOME", root_path, class: "link"
  - if user_signed_in?
    .side-box
      .side-box__image  
        = image_tag "#{current_user.image}", size: "30x30", alt: "アイコン画像", class: "icon"
      .side-box__name
        = link_to "MyPage", "/users/#{current_user.id}", class: "link"

    .side-box
      .side-box__image  
        %i.fas.fa-user-edit.fa-lg
      .side-box__name
        = link_to "編集", "/users/edit", class: "link"

    .side-box
      .side-box__image
        %i.fas.fa-bell.fa-lg
      .side-box__name
        = link_to "通知", notifications_path, class: 'link'
    .side-box#make-btn
      .side-box__image
        %i.fas.fa-signature
      .side-box__name
        = link_to '一句詠む', new_post_path, class: 'link'
    %hr
    .side-box
      フォロー
    - current_user.followings.each do |user|
      .side-box
        .side-box__image
          = image_tag "#{user.image}", size: "30x30", alt: "アイコン画像", class: "icon"
        .side-box__name
          = link_to user.name, "/users/#{user.id}"
    %hr
    .side-box
      フォロワー
    - current_user.followers.each do |user|
      .side-box
        .side-box__image
          = image_tag "#{user.image}", size: "30x30", alt: "アイコン画像", class: "icon"
        .side-box__name
          = link_to user.name, "/users/#{user.id}"
