.container
  .side
    .side-box
      = link_to "HOME", root_path, class: "link"
    .side-box
      フォロー
    - if user_signed_in?  
      - current_user.followings.each do |user|
        .side-box
          = image_tag "#{user.image}", size: "30x30", alt: "アイコン画像", class: "icon"
          = link_to user.name, "/users/#{user.id}"
    .side-box
      フォロワー
    - if user_signed_in?  
      - current_user.followers.each do |user|
        .side-box
          = image_tag "#{user.image}", size: "30x30", alt: "アイコン画像", class: "icon"
          = link_to user.name, "/users/#{user.id}"
  .main
    %p いいねランク第１位
    .info
      .left-info
        .main-box#best
          .main-box__content
            = simple_format(@all_ranks[0].content)
          .main-box__bar
            = image_tag "#{@all_ranks[0].user.image}", size: "40x40", alt: "アイコン画像", class: "icon"
            = link_to @all_ranks[0].user.name, "/users/#{@all_ranks[0].user.id}", class: "link"
            = "いいね: #{@all_ranks[0].liked_users.count}"
            = link_to "詳細", "/posts/#{@all_ranks[0].id}"
            = link_to "削除", "/posts/#{@all_ranks[0].id}", method: :delete   
      .right-info
        = image_tag "senryu.com.png", size: "300x300", alt: "アイコン画像", class: "main-logo"
    %p いいねランク上位
    .content
      .content__best
        - @all_ranks.each do |post|
          .main-box
            .main-box__content
              = simple_format(post.content)
            .main-box__bar
              = image_tag "#{post.user.image}", size: "30x30", alt: "アイコン画像", class: "icon"
              = link_to post.user.name, "/users/#{post.user.id}", class: "link"
              = "いいね: #{post.liked_users.count}"
              = link_to "詳細", "/posts/#{post.id}"
              = link_to "削除", "/posts/#{post.id}", method: :delete

      %p 最新投稿  
      .content__new
        - @posts.each do |post|
          .main-box
            .main-box__content
              = simple_format(post.content)
            .main-box__bar
              = image_tag "#{post.user.image}", size: "30x30", alt: "アイコン画像", class: "icon"
              = link_to post.user.name, "/users/#{post.user.id}", class: "link"
              = "いいね: #{post.liked_users.count}"
              = link_to "詳細", "/posts/#{post.id}"
              = link_to "削除", "/posts/#{post.id}", method: :delete
              
