.in-container.col-12

  = render "shared/side"
  .main.col-10
    %p いいねランク第１位
    .info
      .left-info
        .main-box#best
          - if @top_rank
            .main-box#best__content
              = simple_format(@top_rank.content)
              -if @top_rank.image.file.nil?
                = image_tag "senryu.com.png", size: "180x180", alt: "イメージ画像", class: "default-logo"
              -else
                = image_tag "#{@top_rank.image}", size: "220x220", alt: "イメージ画像", class: "image"
            .main-box__bar
              = image_tag "#{@top_rank.user.image}", size: "40x40", alt: "アイコン画像", class: "icon"
              - if user_signed_in?
                = link_to @top_rank.user.name, "/users/#{@top_rank.user.id}", class: "link"
              - else
                = @top_rank.user.name
              = "いいね: #{@top_rank.liked_users.count}"
              - if user_signed_in?
                = link_to "詳細", "/posts/#{@top_rank.id}"
      .right-info
        = image_tag "senryu.com.png", size: "250x250", alt: "アイコン画像", class: "main-logo"
    %hr    
    %p いいねランク上位
    .content
      .content__best
        - @all_ranks.each do |post|
          .main-box
            .main-box__content
              = simple_format(post.content)
              -if post.image.file.nil?
                = image_tag "senryu.com.png", size: "100x100", alt: "イメージ画像", class: "default-logo"
              -else
                = image_tag "#{post.image}", size: "120x120", alt: "イメージ画像", class: "image"
            .main-box__bar
              = image_tag "#{post.user.image}", size: "30x30", alt: "アイコン画像", class: "icon"
              - if user_signed_in?
                = link_to post.user.name, "/users/#{post.user.id}", class: "link"
              - else 
                = post.user.name
              = "いいね: #{post.liked_users.count}"
              - if user_signed_in?
                = link_to "詳細", "/posts/#{post.id}"
      %hr

      %p 最新投稿  
      .content__new
        - @posts.each do |post|
          .main-box
            .main-box__content
              = simple_format(post.content)
              -if post.image.file.nil?
                = image_tag "senryu.com.png", size: "100x100", alt: "イメージ画像", class: "default-logo"
              -else
                = image_tag "#{post.image}", size: "120x120", alt: "イメージ画像", class: "image"
            .main-box__bar
              = image_tag "#{post.user.image}", size: "30x30", alt: "アイコン画像", class: "icon"
              - if user_signed_in?
                = link_to post.user.name, "/users/#{post.user.id}", class: "link"
              - else
                = post.user.name
              = "いいね: #{post.liked_users.count}"
              - if user_signed_in?
                = link_to "詳細", "/posts/#{post.id}"
              
