.in-container.col-12
  = render "shared/side"
  
  .main.col-10
    = form_with model: @post, class: "form", local: true do |f|
      = f.text_area :content, class: "form__text", placeholder: "五・七・五で改行してください"
      = f.file_field :image, class: "form__image"
      = f.submit "保存", class: "form__btn"
      
    