.in-container.col-12
  = render "shared/side"

  .main.col-10
    %p 検索結果
    .content
      .content__new
        - @posts.each do |post|
          .main-box
            .main-box__content
              = simple_format(post.content)
              -if post.image.file.nil?
                = image_tag "senryu.com.png", size: "100x100", alt: "イメージ画像", class: "default-logo"
              -else
                = image_tag "#{post.image}", size: "120x100", alt: "イメージ画像", class: "image"
            .main-box__bar
              = image_tag "#{post.user.image}", size: "30x30", alt: "アイコン画像", class: "icon"
              - if user_signed_in?
                = link_to post.user.name, "/users/#{post.user.id}", class: "link"
              - else
                = post.user.name
              = "いいね: #{post.liked_users.count}"
              - if user_signed_in?
                = link_to "詳細", "/posts/#{post.id}"
